Flow4.json
[
    {
        "id": "85fd568efd6d8a14",
        "type": "tab",
        "label": "Flow 4 Recibir mensajes MQTT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0da96cedce7eb74d",
        "type": "mqtt in",
        "z": "85fd568efd6d8a14",
        "name": "",
        "topic": "codigoIoT/Mor/mqtt/flow4",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b4301daa0db036b4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 120,
        "wires": [
            [
                "f12446edb0befd5f"
            ]
        ]
    },
    {
        "id": "f12446edb0befd5f",
        "type": "json",
        "z": "85fd568efd6d8a14",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 120,
        "wires": [
            [
                "9e40de4f8d769f54",
                "fd22fb39d8e443ef"
            ]
        ]
    },
    {
        "id": "9e40de4f8d769f54",
        "type": "function",
        "z": "85fd568efd6d8a14",
        "name": "Temperatura",
        "func": "msg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 80,
        "wires": [
            [
                "b3a05b2954f9d13f"
            ]
        ]
    },
    {
        "id": "fd22fb39d8e443ef",
        "type": "function",
        "z": "85fd568efd6d8a14",
        "name": "Humedad",
        "func": "msg.payload = msg.payload.hum;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 140,
        "wires": [
            [
                "c0c8c592829dfa54"
            ]
        ]
    },
    {
        "id": "b3a05b2954f9d13f",
        "type": "ui_gauge",
        "z": "85fd568efd6d8a14",
        "name": "",
        "group": "3ca921645fac0296",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": "10",
        "max": "40",
        "colors": [
            "#729fcf",
            "#eeeeec",
            "#ef2929"
        ],
        "seg1": "20",
        "seg2": "32",
        "className": "",
        "x": 670,
        "y": 80,
        "wires": []
    },
    {
        "id": "c0c8c592829dfa54",
        "type": "ui_gauge",
        "z": "85fd568efd6d8a14",
        "name": "",
        "group": "09de268fef54952f",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humedad Relativa",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 690,
        "y": 140,
        "wires": []
    },
    {
        "id": "b4301daa0db036b4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3ca921645fac0296",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "41c796de6757e6a3",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "09de268fef54952f",
        "type": "ui_group",
        "name": "Humedad",
        "tab": "41c796de6757e6a3",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "41c796de6757e6a3",
        "type": "ui_tab",
        "name": "Flow 4 MQTT",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]